.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/hero_small.jpg);
  background-size: cover;
  background-position: top; /*  to make the bg alwys be on the top of the screen when it became shrink */
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  &__log-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 23rem; /*  it is not necessary to specified the width for this type of object like image */
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
